# Ensure that everything will be ignored
*

# Whitelist
!.gitignore
!*.yaml
!*.md
!*.py
!*.sh
!packages/
!packages/**
!python_scripts/
!python_scripts/**
!scripts/
!scripts/**
!mqtt/
!mqtt/**
!custom_sentences/
!custom_sentences/**

# Ignore specific files
secrets.yaml
yandex-station.yaml
private.yaml