# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.30.33.0/24

# Text to speech
tts:
  - platform: google_translate
    service_name: google_say

homeassistant:
  customize: !include customize.yaml
  packages: !include_dir_named packages

# Sharing devices with Yandex Smart Home
yandex_smart_home: !include yandex.yaml
# Controlling of Yandex Station and TTS
yandex_station: !include yandex-station.yaml
# Controlling of Xiaomi Vacuum via Yandex Station
vacuum_zones: !include vacuum-zones.yaml
# Yandex devices icons
frontend:
  extra_module_url:
    - /hacsfiles/ha-yandex-icons/yandex-icons.js

recorder:
  db_url: !secret DATABASE_URL
  purge_keep_days: 180
  exclude:
    entity_globs:
      - sensor.adsb_*
      - sensor.flightradar_*
      - sensor.fr24_*

# Write Python scripts that are exposed as services in Home Assistant
python_script:

# Makes it possible to send notifications to a wide variety of platforms
notify:

# Enables the ability to send magic packets to Wake on LAN capable devices to turn them on
wake_on_lan:

camera:
  - platform: xiaomi_cloud_map_extractor
    host: !secret XIAOMI_VACUUM_HOST
    token: !secret XIAOMI_VACUUM_TOKEN
    username: !secret XIAOMI_CLOUD_USERNAME
    password: !secret XIAOMI_CLOUD_PASSWORD
    country: "de"
    draw: ["all"]
    attributes:
      - calibration_points

binary_sensor: !include binary_sensors.yaml
sensor: !include sensors.yaml

switch:
  - platform: wake_on_lan
    name: Asus PC
    mac: !secret ASUS_PC_MAC
    host: !secret ASUS_PC_LOCAL_IP
    turn_off:
      - action: hassio.addon_stdin
        data:
          addon: core_rpc_shutdown
          input: ASUS-PC
  - platform: wake_on_lan
    name: Lenovo ThinkBook
    mac: !secret LENOVO_NB_MAC
    host: !secret LENOVO_NB_LOCAL_IP

light:
  - platform: artnet_led
    host: !secret ARTNET_DMX_CONTROLLER_IP
    refresh_every: 5
    universes:
      1:
        send_partial_universe: True
        devices:
          - channel: 1
            name: Moving Head X axis
          - channel: 2
            name: Moving Head X trim
          - channel: 3
            name: Moving Head Y axis
          - channel: 4
            name: Moving Head Y trim
          - channel: 5
            name: Moving Head Axis Speed
          - channel: 6
            name: Moving Head Brightness
          - channel: 7
            name: Moving Head Stroboscope
          - channel: 8
            name: Moving Head Color
          - channel: 9
            name: Moving Head Pattern
          - channel: 10
            name: Moving Head Prism
          - channel: 11
            name: Moving Head Mode

mqtt:
  binary_sensor: !include mqtt/mqtt-binary-sensors.yaml
  button: !include mqtt/mqtt-buttons.yaml
  sensor: !include mqtt/mqtt-sensors.yaml
  switch: !include mqtt/mqtt-switches.yaml

  cover:
    - name: "Bedroom"
      unique_id: "bedroom_cover"
      device_class: shade
      command_topic: "/blinds/set"
      position_topic: "/blinds/position"
      availability:
        - topic: "/blinds/availability"
      set_position_topic: "/blinds/set_position"
      payload_open: "OPEN"
      payload_close: "CLOSE"
      payload_stop: "STOP"
      position_open: 100
      position_closed: 0
      optimistic: false
      position_template: "{{ value }}"

  light:
    - name: "Kitchen Spotlights"
      unique_id: "kitchen_spotlights"
      state_topic: "/Sonoff-Spotlights/Status"
      command_topic: "/Sonoff-Spotlights/Switch"
      payload_on: "1"
      payload_off: "0"
      availability_topic: "/Sonoff-Spotlights/availability"
      payload_available: "online"
      payload_not_available: "offline"
      optimistic: false
